.notifier-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.notification-cluster {
  position: absolute;
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.notification {
  box-sizing: border-box;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  padding: 2px 4px;
  animation: 3s linear pop;
  text-align: center;
}

.health-bar-container {
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 8px;
  margin-left: 2px;
  margin-bottom: -1px;
  background-color: darkred;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.health-indicator {
  position: relative;
  background-color: red;
  transition: all 1s ease-out;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, -12px, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -24px, 0);
  }
}
